footer {
  background-color: var(--btn-color); 
  background-color: #99b9ff; 
  color: var(--text-color);
  text-align: center; 
  padding: 20px 0; 
  bottom: 0;
  width: 100%; 
  margin-top: 40px;
}

footer p {
  margin: 0;
  font-size: 2rem; 
}
