/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }
  
  header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .logo-brand a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-color);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    /* font-size: 1rem; */
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: var(--accent-color);
  }
  
  /* Light Mode Variables */
  :root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --accent-color: #007bff;
  }
  
  /* Dark Mode Variables */
  body.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --accent-color: #90caf9;
  }
  
  header,
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  nav ul li a.active {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: underline;
  }

  .dark-mode-toggle {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode-toggle:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
  .adminBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.adminBtn:hover {
  background: rgb(59, 163, 59);
}
