.about-hero-content {
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

.about-hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.about-hero-content p {
  font-size: 1.45rem;
  margin-bottom: 15px;
  color: var(--text-color);
  text-align: justify;
}

.about-hero-content .about-btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.about-hero-content .primary-btn {
  padding: 12px 26px;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Analytics Section */
.about-section-analytics {
  margin: 9.6rem 0;
  background-color: var(--bg-color);
  background-color: var(--analyze-color);
  padding: 4rem;
  border-radius: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.about-section-analytics .grid {
  color: var(--text-color);
}

.about-section-analytics .div1 {
  text-align: center;
  border-right: 0.2rem solid var(--border-color);
  padding-right: 30px;
}

.about-section-analytics .div1:last-child {
  border-right: none;
}

.about-section-analytics .div1 h2 {
  font-size: 4.8rem;
}

.about-section-analytics .div1 p {
  text-transform: capitalize;
}
.about-hero-image img {
  margin-left: 50px;
  width: 500px;
  height: 500px;
}

/* ============================
   about.css
============================= */
@media (max-width: 1200px) {
  .about-hero-content h1 {
    font-size: 2.6rem;
  }
  .about-hero-image img {
    margin-left: 0px;
  }
  .about-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .about-hero-image img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {
  .about-hero-content h1 {
    font-size: 2.2rem;
  }
  .about-hero-image img {
    width: 450px;
    height: 450px;
  }
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about-hero-content h1 {
    font-size: 2rem;
  }
  .about-container {
    grid-template-columns: 1fr;
  }

  .div1 h2 {
    font-size: 1.2rem;
  }

  .div1 p {
    font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
  .about-hero-content h1 {
    font-size: 1.8rem;
  }
  .about-container {
    grid-template-columns: 1fr;
  }

  .div1 h2 {
    font-size: 0.5rem;
  }
  .about-btn-group .primary-btn {
    font-size: 12px;
    margin: 0;
    padding: 10px 10px;
  }
  .about-btn-group .secondary-btn {
    font-size: 12px;
    margin: 0;
    padding: 10px 10px;
  }
}
